<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    @*<title>RiskManagement</title>*@
    <title>@ViewBag.Page</title>
    <script type="text/javascript" src='@Url.Content("~/bootstrap.js")'></script>
    <script type="text/javascript">

        window.Page = '@ViewBag.Page',

        window.OccupationCatelogyId = '@ViewBag.OccupationCatelogy',

        window.OccupationGroupId = '@ViewBag.OccupationGroup',

        window.OccupationTypeId = '@ViewBag.OccupationType',

        window.PositionId = '@ViewBag.Position';

        window.RequestNos = '@ViewBag.RequestNo';

        window.Key = '@ViewBag.Key';

        window.Userid = '@ViewBag.User';

        window.Status = '@ViewBag.Status';
        
        
    </script>
    
</head>
<body>
</body>
</html>